In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
english = [84, 76, 86, 90, 73, 85, 81, 71, 89, 100]
math = [72, 76, 86, 71, 69, 96, 74, 83, 87, 68]

In [24]:
total = []
for i in range(0,10):
    total.append((english[i]+math[i]) / 2)
total.sort(reverse =True)
print(total[0:5])

[90.5, 88.0, 86.0, 84.0, 80.5]

In [28]:
money = int(input('money'))
country = input('choose country')

if country == 'USA':
    print(round(money/1309.7,2))
elif country =='EU':
    print(round(money/1339.3,2))
elif country == 'China':
    print(round(money/193.84,2))
else : print(round(money/1579.96,2))

환전 금액800
국가선택dd
0.51

In [30]:
midwest = pd.read_csv('C:/Users/USER/OneDrive/바탕 화면/data_analysis/practice/data_file_pr2/midwest.csv')
midwest.head(10)

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percollege,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,19.631392,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,11.243308,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,17.033819,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,17.278954,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,14.475999,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR
5,566,BUREAU,IL,0.050,35688,713.760000,35157,50,65,195,...,18.904624,3.275891,35107,98.372002,10.399635,14.158819,8.179287,11.008586,0,AAR
6,567,CALHOUN,IL,0.017,5322,313.058824,5298,1,8,15,...,11.917388,3.209601,5241,98.478016,15.149781,13.787761,12.932331,21.085271,0,LAR
7,568,CARROLL,IL,0.027,16805,622.407407,16519,111,30,61,...,16.197121,3.055727,16455,97.917287,11.710726,17.225462,10.027037,9.525052,0,AAR
8,569,CASS,IL,0.024,13437,559.875000,13384,16,8,23,...,14.107649,3.206799,13081,97.350599,13.875086,17.994784,11.914343,13.660180,0,AAR
9,570,CHAMPAIGN,IL,0.058,173025,2983.189660,146506,16559,331,8033,...,41.295808,17.757448,154934,89.544286,15.572437,14.132234,17.562728,8.105017,1,HAU

In [48]:
midwest['percent'] = midwest['popasian']/midwest['poptotal'] *100

In [49]:
midwest.head()

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,percent,new_one
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR,0.376759,large
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR,0.451722,large
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR,0.106731,large
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU,0.486918,large
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR,0.085675,large

In [51]:
midwest['percent'].sort_values(ascending = False)

21     5.070452
9      4.642682
274    4.143679
15     3.693683
180    3.691481
         ...
390    0.032504
358    0.027032
109    0.015950
105    0.010592
404    0.000000
Name: percent, Length: 437, dtype: float64

In [52]:
area = []
for i in midwest['percent']:
    if i >= 0.9:
        area.append('large')
    elif i >= 0.4:
        area.append('middle')
    else: area.append('small')

midwest['new_one'] = area

In [53]:
midwest['new_one'].value_counts()

small     288
middle     96
large      53
Name: new_one, dtype: int64

In [65]:
sc = midwest.query('county == "SCOTT"')['poptotal'].mean()
pi = midwest.query('county == "PIATT"')['poptotal'].mean()
print(pi, sc)

15548.0 13317.5